<% layout("/layouts/boilerplate.ejs") -%>

  <section>
    <div class="row py-3">
      <div class="col-8 offset-2">
        <h3>Create new listing</h3>
        <form action="/listings" method="post" class="new-form py-5 needs-validation" novalidate
          enctype="multipart/form-data">

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" id="title" placeholder="Enter Title" class="form-control"
              required />
            <!-- success & failure text -->
            <div class="invalid-feedback">Title should be valid.</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="listing[description]" placeholder="Enter Description" class="form-control"
              rows="5" cols="10" required></textarea>
            <div class="invalid-feedback">Please enter a short description.</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" id="image" name="listing[image]" class="form-control" required />
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" id="price" name="listing[price]" placeholder="Enter Price" class="form-control"
              required />
            <div class="invalid-feedback">Price should be valid.</div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="location" class="form-label">Location</label>
              <input type="text" id="location" name="listing[location]" placeholder="Enter Location"
                class="form-control" required />
              <div class="invalid-feedback">Location should be valid.</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" name="listing[country]" placeholder="Enter Country" class="form-control"
                required />
              <div class="invalid-feedback">Country should be valid.</div>
            </div>

          </div>
          <button class="btn btn-dark add-btn">Add</button>
        </form>
      </div>
    </div>
  </section>